<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/web/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/web/static/css/style.css">
  <link rel="shortcut icon" href="/web/static/img/cryptocoin-ripple-base.png" type="image/x-icon">

  <title>KClient</title>
</head>

<body>

<div class="container">
  <br/>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-sm">
        <caption>ETH Tick at {{ at }}</caption>
        <thead>
        <tr>
          <th>Buy</th>
          <th>Sell</th>
          <th>Low</th>
          <th>High</th>
          <th>Last</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ eth_tick.ticker.buy|currency }}</td>
          <td>{{ eth_tick.ticker.sell|currency }}</td>
          <td>{{ eth_tick.ticker.low|currency }}</td>
          <td>{{ eth_tick.ticker.high|currency }}</td>
          <td>{{ eth_tick.ticker.last|currency }}</td>
          <td>{{ eth_tick.ticker.vol }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-sm">
        <caption>Coins</caption>
        <thead>
        <tr>
          {% for account in actives %}
          {% if account.balance != '0.0' %}
          <td>{{ account.currency|upper }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          {% for account in actives %}
          {% if account.balance != '0.0' %}
          <td>{{ account.balance }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="chart-container" style="height: 400px; min-width: 310px"></div>
    </div>
  </div>

  <br>

  <div class="row">
      <div class="col-md-6 action-btns">
      <form action="" method="post">
        <input type="hidden" name="action" value="sell"/>
        <button type="submit" class="btn btn-warning btn-sm">SELL</button>
      </form>

      <form action="" method="post">
        <input type="hidden" name="action" value="buy"/>
        <button type="submit" class="btn btn-success btn-sm">BUY</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-sm table-hover logs">
        <caption>Logs</caption>
        <thead>
        <tr>
          <th class="at">At</th>
          <th>Side</th>
          <th>Vol</th>
          <th>Rate</th>
          <th>Cmnt</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
        <tr class="{% if log.status == 'success' %}table-success{% else %}table-warning{% endif %}">
          <td>{{ log.date|logdate }}</td>
          <td>{{ log.side }}</td>
          <td>{{ log.volume }}</td>
          <td>{{ log.rate }}</td>
          <td>
            {{ log.comment if log.comment != None }}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-striped table-bordered table-sm">
        <caption>Journal</caption>
        <thead>
        <tr>
          <th>Date</th>
          <th>Price</th>
          <th>Vol</th>
          <th>Funds</th>
        </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
        <tr {% if deal.side=='ask' %} class="table-info" {% else %}class="table-danger" {% endif %}>
          <td>
            {{ deal.created_at|shortdate }}
            {% if deal.side == 'ask' %}
            <img
                src="https://kuna.io/assets/icons/default/trade_buy-fbdde88afadf0e5b9e20bf64efd2402648b529656e7cdc8cbd8b53e96f28e869.png">
            {% else %}
            <img
                src="https://kuna.io/assets/icons/default/trade_sell-88a76cf69aea3ee9821941ec46582607ad870fb27e7dbbaca37e75cbba7dbf35.png">
            {% endif %}
          </td>
          <td> {{ deal.price|currency }}</td>
          <td> {{ deal.volume }}</td>
          <td> {{ deal.funds|currency }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-striped table-bordered table-sm">
        <caption>Active Orders</caption>
        <thead>
        <tr>
          <th>date</th>
          <th>side</th>
          <th>amount</th>
          <th>price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order.created_at|shortdate }}</td>
          <td>{{ order.side }}</td>
          <td>{{ order.volume }}</td>
          <td>{{ order.price }}</td>
          <td>
            <form action="" method="post">
              <input type="hidden" value="{{ order.id }}" name="order-id"/>
              <input type="hidden" value="cancel-order" name="action"/>
              <button class="btn btn-sm btn-warning">Cancel</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<script src="/web/static/js/jquery-3.1.1.min.js"></script>
<script src="/web/static/js/highstock.js"></script>
<script src="/web/static/js/exporting.js"></script>
<script src="/web/static/js/script.js"></script>
<script type="text/javascript">
    var ethData = {{ data|safe }}
    var sData =   {{ data_s|safe }}
    var lData =   {{ data_l|safe }}
</script>

</body>
</html>
